
<section class="page-section bg-secondary-alt text-white mb-0" id="about">
  <div class="container">
      <!-- About Section Heading-->
      <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
      <!-- Icon Divider-->
      <div class="divider-custom divider-light">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
      </div>
      <!-- About Section Content-->
      <div class="row">
          <div class="col-lg-4 ms-auto">
            <p class="lead">
              I am Rogelio López, a Software Engineer and Web Developer, dedicated to finding the ideal
              balance between professional growth and my passion for technology. My experience focuses on
              full-stack development. Most recently, I worked as an Associate Software Engineer at Nagarro
              Software, where I specialized in robust solutions with C#, ASP.NET, SQL Server, and Entity
              Framework, integrating them with frontends developed in Angular and JavaScript.
            </p>
            <p class="lead">
              Previously,
              I strengthened my backend skills with Java, Spring, and Spring Boot as a Systems Engineer at
              Infosys Technologies, in addition to gaining hands-on experience in database administration
              such as SQL Server and MySQL.
            </p>
          </div>
          <div class="col-lg-4 me-auto">
            <p class="lead">
              My background includes a Bachelor's degree in Information and Communications Technology (ICT)
              from the Technological University of Cancún, complemented by studies in Computer Systems
              Technology - Networking at Centennial College, Canada. I manage a versatile development stack that
              includes HTML, CSS, PHP, Laravel, C#, Java, and Angular.
            </p>
            <p class="lead">Thanks to my previous roles as a technician,
              I have solid infrastructure knowledge, including handling Linux Servers (Debian, Ubuntu, CentOS) and
              Windows Server, which allows me to approach projects comprehensively. I also have a B2 level of English.</p>
          </div>
      </div>
      <!-- About Section Button-->
      <div class="text-center mt-4">
          <a class="btn btn-xl btn-outline-light" href="#">
              <i class="fas fa-download me-2"></i>
              Download Resume!
          </a>
      </div>
  </div>
</section>
