
<section class="page-section bg-dark text-white mb-0" id="work">
            <div class="container">
                <!-- Work Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-white">Work Experience</h2>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Work Section Content-->
                <div class="row">
                    <div class="col-lg-4 ms-auto">
                        <div class="empresa">
                            <h4 class="nombre-empresa">Nagarro Software</h4>
                            <p class="cargo">Software Engineer Associate</p>
                            <p class="fechas">Feb 23 - May 24</p>
                            <p class="descripcion">Systems Engineer Associate in Technologies such as:
                                    C#, SQL Server, ASP.NET, Entity Framework, HTML, CSS, Bootstrap,
                                    JavaScript, Angular, Node.js.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 me-auto">
                        <div class="empresa">
                            <h4 class="nombre-empresa">Infosys</h4>
                            <p class="cargo">IT Trainee</p>
                            <p class="fechas">May 22 - Nov 22</p>
                            <p class="descripcion">Systems Engineer Trainee in Technologies such as:
                                              Java, MySQL, Spring, Spring Boot, HTML, CSS, Bootstrap
                            </p>
                        </div>
                    </div>



                </div>
                <!-- Work Section Button-->
                <div class="text-center mt-4">
                    <a class="btn btn-xl btn-outline-light" href="#">
                        <i class="fas fa-download me-2"></i>
                        Download CV
                    </a>
                </div>
            </div>
        </section>
