
<section class="page-section bg-dark text-white mb-0" id="work">
            <div class="container">
                <!-- Work Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-white">Work Experience</h2>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Work Section Content-->
                <div class="row justify-content-center">
                    <div class="col-12 col-md-6 col-lg-5 mb-4">
                        <div class="empresa text-center">
                            <h4 class="nombre-empresa">Nagarro Software</h4>
                            <p class="cargo">Software Engineer Associate</p>
                            <p class="fechas">Feb 23 - May 24</p>
                            <p class="descripcion">Systems Engineer Associate in Technologies such as:
                                    C#, SQL Server, ASP.NET, Entity Framework, HTML, CSS, Bootstrap,
                                    JavaScript, Angular, Node.js.
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-5 mb-4">
                        <div class="empresa text-center">
                            <h4 class="nombre-empresa">Infosys</h4>
                            <p class="cargo">IT Trainee</p>
                            <p class="fechas">May 22 - Nov 22</p>
                            <p class="descripcion">Systems Engineer Trainee in Technologies such as:
                                              Java, MySQL, Spring, Spring Boot, HTML, CSS, Bootstrap
                            </p>
                        </div>
                    </div>

                    <br/>

                    <div class="col-12 col-md-6 col-lg-5 mb-4">
                        <div class="empresa text-center">
                            <h4 class="nombre-empresa">Universidad Tecnológica de Cancún</h4>
                            <p class="cargo">IT Technician</p>
                            <p class="fechas">Jan 21 - May 22</p>
                            <p class="descripcion">Perform preventive maintenance to hardware and
                                                software of equipment and servers, assistance in
                                                software installation, administration of user accounts
                                                in OFFICE 365, backup of SQL Server, MySQL and Access
                                                databases, Monitoring of projects in the area, some
                                                changes on code (C#, HTML, WordPress), Windows Server,
                                                Linux. Service now ticketing tool experience.
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-5 mb-4">
                        <div class="empresa text-center">
                            <h4 class="nombre-empresa">Universidad Tecnológica de Cancún</h4>
                            <p class="cargo">Computer Lab Technician</p>
                            <p class="fechas">Mar 18 - Jan 21</p>
                            <p class="descripcion">Monitor the optimal functioning of computer
                                and audiovisual equipment. Install software on the computers of
                                the computer lab according to the request of the users, considering
                                the institutional license. Perform preventive and corrective maintenance
                                of equipment, diagnose faults and replace damaged components. Update
                                reports related to the equipment in charge.
                            </p>
                        </div>
                    </div>

                </div>
                <!-- Work Section Button-->
                <div class="text-center mt-4">
                    <a class="btn btn-xl btn-outline-light" href="#">
                        <i class="fas fa-download me-2"></i>
                        Download CV
                    </a>
                </div>
            </div>
        </section>
